@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

500;700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.blue-header {
  height: 2vh;
  background-color: #0282f9;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

nav .nav-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  color: #464646;
  font-weight: 600;
}

#jumbotron {
  background-image: url("/images/jumbotron.jpg");
  height: 50vh;
}

