@import '_variables.scss';

.blue-header {
    height: 2vh;
    background-color: $main-blue;
}

nav {
    display: flex;
    justify-content: center;
    padding: .5rem;

    .nav-container {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        display: flex;
        column-gap: 2rem;

        li {
            list-style-type: none;
            text-transform: uppercase;
            color: #464646;
            font-weight: 600;
        }
    }

}

#jumbotron {
    background-image: url('/images/jumbotron.jpg');
    height: 50vh;
}
